* {

    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    user-select: none;
}

body {

    background-color: $blanco;

    /* Cabecera */
    @import "./_cabecera";

    /* Contenedor */
    @import "./_contenedor";
}