$ancho-completo: 100%;
$alto-completo: 100vh;
$altura-cabecera: 6rem;

$espaciado-letras: 1px;

$letra-titulo: 30px;
$letra-logo: 16.5px;
$letra-bold: 600;
$letra-italic: italic;

$altura-linea-texto: 24px;

$estandar-padding-em: 1em;
$estandar-margin-em: 1em;
$estandar-padding-rem: 1rem;
$estandar-margin-rem: 1rem;
$estandar-img-size-em: 6.25em;

$fuente-titulo: 'Satisfy', cursive;
$fuente-cuerpo: 'Source Sans Pro', sans-serif;

$ancho-boton: 12.5em;
$alto-boton: 40px;

$estandar-borde-radial: 20px;