<header id="cabecera" class="cabecera">
    <h1 id="titular">Mi Portafolio</h1>

    <nav id="navegacion" class="navegacion">
        <ul id="lista" class="lista">
            <!-- <li class="opcion_menu">Home <i class="fa-solid fa-house"></i></li> -->
            <li class="opcion_menu"><a href=<%= urlOne %>> Sobre mi <i class="fa-solid fa-address-card"></i></a></li>
            <li class="opcion_menu"><a href=<%= urlTwo %>>Proyectos <i class="fa-solid fa-list-check"></i></a></li>
            <li class="opcion_menu"><a href=<%= urlThree %> >Contactame <i class="fa-solid fa-comment"></i></a></li>
        </ul>
    </nav>
</header>