<section id="contenedor" class="contenedor">
    <div id="logo" class="panel">
        <i id="pc" class="fa-solid fa-laptop-code"></i>
        <p id="nombre">Mishel Arias</p>
        <p id="cargo">Desarrollador Web Jr</p>
    </div>
    <div id="introduccion" class="panel">
        Hola, soy Mishel Arias, desarrollador web jr, ubicado en la Ciudad de México, disfruto mucho de los retos
        que el desarrollo de software presenta, la creacion de soluciones a problemas diversos, y el aprendizaje
        constante. Te invito a conocer los proyectos que he hecho, asi como las tecnologias que usé para ello a
        continuacion.
    </div>
    <div class="botonera panel">
        <a href="/about" id="button">¡Conóceme!</a>
    </div>
</section>