<div class="panel">
    <p class="parrafo">
        Hola, soy Mishel Arias, desarrollador web jr con 6 meses de experiencia, residente de la Ciudad de México,
        disfruto mucho de los retos que el desarrollo de software presenta, la resolución de problemas, el
        aprendizaje constante
        y el trabajo en equipo.
    </p>

    <p class="parrafo">
        Actualmente tengo conocimientos enfocados al desarrollo front-end haciendo uso de tecnologias tales como:
    <ul>
        <li><i class="fa-brands fa-html5"></i> Html</li>
        <li><i class="fa-brands fa-css3-alt"></i> Css</li>
        <li><i class="fa-brands fa-js"></i> Javascript</li>
    </ul>
    </p>

    <p class="parrafo">
        Tambien poseo conocimientos fundamentales en:
    <ul>
        <li><i class="fa-brands fa-sass"></i> Sass</li>
        <li><i class="fa-brands fa-node-js"></i> Node Js</li>
        <li><i class="fa-solid fa-mug-hot"></i> Express</li>
        <li><i class="fa-solid fa-file-code"></i> Ejs</li>
        <li><i class="fa-solid fa-database"></i> MySQL</li>
        <li><i class="fa-brands fa-git"></i> Git</li>
        <li><i class="fa-brands fa-github"></i> Github</li>
    </ul>
    </p>

    <p class="parrafo">
        Además de que me encuentro en el estudio y practica de VueJS
        <i class="fa-brands fa-vuejs"></i>
        como framework front-end
    </p>
</div>