<div id="contenedor-proyectos" class="contenedor-proyectos">
    <div class="panel">
        <img src="../img/business-woman-working-on-laptop.jpg" alt="pic-desarrollador" class="img-proyecto">
        <div class="descripcion-proyecto">
            <p class="descripcion">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ex quasi a facere
                rerum voluptatibus dolor
                porro, natus delectus velit. Tenetur itaque neque quas suscipit quo repudiandae deleniti aspernatur
                esse.
            </p>
        </div>
    </div>
    <div class="panel">
        <img src="../img/business-woman-working-on-laptop.jpg" alt="pic-desarrollador" class="img-proyecto">
        <div class="descripcion-proyecto">
            <p class="descripcion">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ex quasi a facere
                rerum voluptatibus dolor
                porro, natus delectus velit. Tenetur itaque neque quas suscipit quo repudiandae deleniti aspernatur
                esse.
            </p>
        </div>
    </div>
    <div class="panel">
        <img src="../img/business-woman-working-on-laptop.jpg" alt="pic-desarrollador" class="img-proyecto">
        <div class="descripcion-proyecto">
            <p class="descripcion">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ex quasi a facere
                rerum voluptatibus dolor
                porro, natus delectus velit. Tenetur itaque neque quas suscipit quo repudiandae deleniti aspernatur
                esse.
            </p>
        </div>
    </div>
    <div class="panel">
        <img src="../img/business-woman-working-on-laptop.jpg" alt="pic-desarrollador" class="img-proyecto">
        <div class="descripcion-proyecto">
            <p class="descripcion">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ex quasi a facere
                rerum voluptatibus dolor
                porro, natus delectus velit. Tenetur itaque neque quas suscipit quo repudiandae deleniti aspernatur
                esse.
            </p>
        </div>
    </div>
    <div class="panel">
        <img src="../img/business-woman-working-on-laptop.jpg" alt="pic-desarrollador" class="img-proyecto">
        <div class="descripcion-proyecto">
            <p class="descripcion">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ex quasi a facere
                rerum voluptatibus dolor
                porro, natus delectus velit. Tenetur itaque neque quas suscipit quo repudiandae deleniti aspernatur
                esse.
            </p>
        </div>
    </div>
</div>