<div id="contenedor" class="contenedor">
    <div class="panel">
        <img src="../img/business-woman-working-on-laptop.jpg" alt="pic-desarrollador" class="img-perfil">
    </div>

    <%- include("../partials/detalles.ejs"); %>

    <div class="botonera panel">
        <a href="/projects" id="button">¡Vea mis proyectos!</a>
    </div>
</div>